
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<div class="p-3" id="side-menu">
	<div class="card-header d-flex justify-content-center">
		<a href="/usuario/sair" id="left-exit" class="side-buttoms">
			<img class="img" src="/img/sair.png">
		</a>
		<a href="/calendario" class="side-buttoms" id="left-calendar">
			<img class="img" src="/img/bootstrap-icons/calendar3.svg">
		</a>
		<a href="/usuario/cadastrar" class="side-buttoms" id="left-cad">
			<img class="img" src="/img/add_usuario.png">
		</a>
		<a href="/usuario/configurar" class="side-buttoms" id="left-config">
			<img class="img" src="/img/bootstrap-icons/gear.svg">
		</a>
	</div>
</div>

<style type="text/css">
	#side-menu {
		background-color: rgb(22, 90, 239);
	}

	.side-buttoms
	{
		filter: invert();
		padding: 5px;
		border: none;
		border-radius: 100px;
		left: 30px;
	}

	.img {
		padding: 5px;
		height: 50px;
	}

</style>